.home{
    width: 100%;
    height: 100vh
}

.btn-makeTodolist{
    top: 35vmax;
    color: rgb(0, 0, 0);
    background-color: crimson;
    border-radius: 5px;
    font-weight: bold;
    width: 10rem;
}

.btn-makeTodolist:hover{
    background-color: greenyellow;
    color: black;
    border-style: dashed;
    font-weight: bold;
    width: 10rem;
}