.About{
    width: 100%;
    height: 100vh;
}
.About h1{
    border-bottom: 2px solid;
}

.about-image {
    width: 8rem;
    height: 8rem;
}

.about-us-para{
    flex-direction: column;
    font-size: large;
    
    font-family:cursive;
    color: rgb(0, 0, 0);
    font-weight: bold
}

.Name-tag-about-page{
    color: rgb(0, 0, 0);
    background-color: crimson;
   border-radius: 10px;
    width: 12rem;
    padding-left: 10px;
    height: 2rem;
    border-style: dashed;
}

.Name-tag-about-page:hover{
    background-color: greenyellow;
    border-style: dashed;
}

