.About{
    width: 100%;
    height: 100vh;
}
.About h1{
    border-bottom: 2px solid;
}

.about-image {
    width: 8rem;
    height: 8rem;
    border: 2px solid #ccc; /* Simple border */
    border-radius: 10%; /* Slightly rounded corners */
    object-fit:cover; /* Ensure the image fits well */
}

.about-us-para{
    flex-direction: column;
    font-size: 1.2rem; /* Adjust size for better readability */
    font-family: 'Poppins', Arial, sans-serif; /* Stylish and trendy font */
    line-height: 1.8; /* Add spacing between lines */
    color: #000000; /* Softer black for a modern look */
    font-weight: bold
}

.Name-tag-about-page{
    color: rgb(0, 0, 0);
    background-color: crimson;
   border-radius: 10px;
    width: 12rem;
    padding-left: 10px;
    height: 2rem;
    border-style: dashed;
}

.Name-tag-about-page:hover{
    background-color: greenyellow;
    border-style: dashed;
}

