.footer{
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: bold;
    display: flex;
    font-family:'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: crimson;
}

