.SignUp{
    width: 100%;
    height: 100vh;
}


.cloumn{
    height: 100vh;
}

.sign-up-heading{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    color: crimson;
}

.border-left{
    border-left: 5px solid;
    color: crimson;
}
.border-right{
     border-right: 5px solid;
    color: crimson;
}

.btn-signup{
    background-color: crimson;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}
.btn-signup:hover{
    background-color: greenyellow;
    color: black;
    
    border-style: dashed;

}

input::placeholder {
    text-align: center; /* Center the placeholder text */
    color: #aaa; /* Optional: Change placeholder text color */
    color: black;
}
